@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
}

input::placeholder,
textarea::placeholder {
  @apply text-slate-400;
}
